{% extends 'base.html.twig' %}
{% block title 'Toutes les recettes' %}

{% block body %}
Lorem ipsum dolor sit, amet consectetur adipisicing elit. Animi dignissimos at quo possimus accusantium tempora veritatis! Temporibus, accusamus rerum hic saepe deserunt harum cupiditate atque beatae maxime. Nemo, labore quisquam.
<ul>
    <li>
        <a href="{{url('recipe.show',{id:32,slug:'pate-bolo'})}}">Pate bolo</a>
    </li>
</ul>
{% endblock %}
